#----
# instant-rst is stuck on old versions at the moment, hence the
# requirements.txt:
#    - https://github.com/gu-fan/instant-rst.py/issues/17
#----
Click==7.0
docutils==0.14
Flask==0.10.1
Flask-SocketIO==3.0.2
instant-rst==0.9.2.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
Pygments==2.2.0
python-engineio==3.8.2.post1
python-socketio==2.0.0
six==1.11.0
Werkzeug==0.14.1
